<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a href="/questions/new"><div class="button">New Question</div></a>
    <a href="/questions"><h1>SpaceOverflow</h1></a>
    <% if notice %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>
  </nav>
  <%= yield %>

</body>
</html>
